<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/handleSubmit" method="post" th:object="${grade}">
        <input type="text" placeholder="Name" th:field="*{name}">
        <input type="text" placeholder="Score" th:field="*{subject}">
        <input type="text" placeholder="Subject" th:field="*{score}">
        <br><br>
        <input type="submit" value="Submit">
    </form>    
    <div>
        I hello
        <h1>Helloword</h1>
    </div>
</body>
</html>