<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1px solid black" width="100%" th:each="grade : ${listGrade}">
        <tr>
            <td th:text="${grade.name}"></td>
            <td th:text="${grade.subject}"></td>
            <td th:text="${grade.score}"></td>
            <td><a role="button" th:href="@{/update(name = ${grade.name})}">Update</a></td>
        </tr>
    </table>
</body>
</html>